<!DOCTYPE html>

<html>

<head>
  <link rel='icon' href='/img/weather.png'>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class='main-content'>
    {{>header}} {{!-- This is how we call our partial --}}

    <p> {{helpText}} </p>
  </div>

  {{>footer}}
</body>

</html>